# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Java / Maven
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear

# Logs
*.log

# Temp files
*.tmp
*.swp
*.swo
